
  <div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card mx-auto bg-white p-5 rounded-5 text-secondary">
      <div class="row justify-content-center">
        <div class="col mb-3">
          <div class="fs-1 fw-bold">Título: {{id_noticia}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
            <div class="fs-5 fw-bold">Fecha:</div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <div class="fs-4 fw-bold">Descripción:</div>
        </div>
        <div class="col">
            <p>Varios estudiantes destacados de la Universidad ABC han sido seleccionados para recibir becas que les permitirán realizar estudios en el extranjero durante el próximo año académico. Esta oportunidad les brindará una experiencia educativa internacional y les abrirá nuevas puertas en sus carreras.</p>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <div class="fs-4 fw-bold">Archivos:</div>
        </div>
    </div>
      <!-- Resto del contenido de la carta -->
      <button class="btn custom-bg-purple sombreado" style="margin-left: 5px;" (click)="volver()">
        <span>Volver</span>
      </button>
    </div>
  </div>
  